body header{
    background: #f8f8f8;
    padding: 0em 2em;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: normal;
}

h2 {
    margin-top: 1em;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: normal;
    font-size: xx-large;
}

nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    font-size: large;
}

nav a:hover {
    color: #0077cc;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
}

.contact-grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem 2rem;
    justify-content: center;   
    align-items: center;
}

.contact-grid .item {
    display: contents; 
}

.contact-grid span {
    justify-self: start; 
    text-align: left;
}



main {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 1.5rem;
    flex: 1;
}

p{
    margin-bottom: 1em;
    text-align: justify;
}

footer {
    border-top: 1px solid #f8f8f8;
    background: #ffffff;
    text-align: center;
    padding: .5rem;
}

figure {
  margin: 1rem auto;
  text-align: center;
  max-width: max-content;
}

figure iframe {
    display: flex;
    width: 700px;
    height: 575px;
    border: none;
}
