.secname{
    font-size: xx-large;
    text-align: center;
    padding-top: 5%;
}

header {
    background: #f8f8f8;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    font-size: large;
}

nav a:hover {
    color: #0077cc;
}

html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
}

main{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2rem;
    flex: 1;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

footer {
    border-top: 1px solid #f8f8f8;
    background: #ffffff;
    text-align: center;
    padding: .5rem;
}

figure {
  display: block;
  margin: 1rem auto;
  text-align: center;
  max-width: max-content;
}

figure img{
  display: block;
  margin: 0 auto;
  max-width: 100%;         
}

figcaption {
  margin-top: 0.5rem;
  font-size: 0.9em;
}

figure iframe{
    display: flex;
    width: 700px;
    height: 575px;
    border: none;
}

.column{
    float:left;
}